/* Media Queries */
/* Media Query Mobile */
@media screen and (max-width: 768px)
{
   #logo {
      height: 40px;  
  }
   header {
      width: auto;
   }
   nav {
      width: auto;
   }
   #conteneur_en_tete {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
   }
   #conteneur_de_formulaire_de_recherche {
      width: auto;
   }
   #section_filtres {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }
   #section_elements_filtres {
      width: auto;
      display: flex;
      flex-wrap: wrap;
   }
   #section1 {
      display: flex;
      flex-direction:column;
      justify-content: flex-start;
      align-items: center;
   }
   .element_hebergements {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
   }
   .element_pied_de_page {
      width: 300px;
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      border: solid black; /* A ENLEVER */
   }
}
/* Media Query Tablette */
@media and (min-width: 769px) and (max-width: 992px)
{
   #logo {
      height: 40px;  
  }
   header {
      width: auto;
   }
   nav {
      width: auto;
   }
   #conteneur_en_tete {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
   }
   #section1 {
      display: flex;
      flex-direction:column;
      justify-content: flex-start;
      align-items: center;
   }
   #conteneur_aside {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .element_pied_de_page {
      display:flex;
      justify-content: space-between;
      align-items: flex-start;
      border: solid black;
   }
}

/* Général */
* {
 box-sizing: border-box;
 color: black;
 text-decoration: none;
/* box-sizing est appliqué à tous les éléments */
}
*:visited { 
   color: black;
  }
*:active { 
   color: black;
}
.box {
   box-sizing: border-box; /* Opera/IE 8+ */
   -moz-box-sizing: border-box; /* Firefox, autres Gecko */
   -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}
body {
   font-family: 'Raleway', sans-serif;
   font-size: 8px;
   margin: 10px;
  }

/* En tête */
#logo {
    height: 20px;  
}
ul {
   list-style-type: none; /* MODIFIER POUR EVITER L'ESPACE DU POINT? */
}
nav ul {
   display: flex;
}
nav li {
   margin-right: 10px;
}
#conteneur_en_tete {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
#hebergements:hover, #activites:hover {
text-decoration: overline;
color: #0065FC; /* FAIRE AUTRE REGLE POUR TELEPHONE */
}

/* Fonts */
h1 {
   color: black;
   font-size: 120%;
   font-weight: bold;
}
h2, #ville {
   color: black;
   font-size: 100%;
   font-weight: bold;
}
h3 {
   color: white;
   font-size: 100%;
   font-weight: normal;
   padding: 6px;
   border-radius: ; /* A COMPLETER */
   background-color: #0065FC;
}

/* Section de recherche */
#conteneur_de_formulaire_de_recherche {
   display:flex;
   justify-content:flex-start;
   align-items: center;
   position: relative; /* A COMPLETER */
}
form {
   height: 22px;
   position: relative; /* A COMPLETER */
   top: 20px 40px; /* SYNTAXE A VERIFIER */
}
.fa-solid fa-location-dot {
   background-color: #F2F2F2;
   font-size: 22px; /* A COMPLETER */
}

/* Section Filtres */
#section_filtres {
   display: flex;
   justify-content:flex-start;
   align-items: center;
}
.element_filtres {
   display: flex;
   justify-content:flex-start;
   align-items: center;
   border-radius: ; /* A COMPLETER */
   border-color: #F2F2F2;
   border-width: ; /* A COMPLETER */
   margin-left: 15px;
}
#information {
   display: flex;
   justify-content:flex-start;
   align-items: center;
}
.fa-solid fa-money-bill-wave, .fa-solid fa-child-reaching, .fa-solid fa-heart, .fa-regular fa-dog {
   background-color: #DEEBFF;
   font-size: 22px; /* A COMPLETER */
}
/* Main */
article, aside, footer {
   background-color: #F2F2F2; 
}

/* Section 1 */
#section1 {
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
}

/* Aside */
aside {
   width: 30%;
   display: flex;
   justify-content: space-between;
   border: violet solid;/* A ENLEVER */
}
#conteneur_aside {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

/* Article */
article {
   width: 70%;
   border: violet solid;/* A ENLEVER */
}
#conteneur_hebergements {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
.element_hebergements {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* Section 2 */

/* Footer */
footer {
   width: auto;
   display:flex;
   justify-content:flex-start;
   align-items: flex-start;
}
.element_pied_de_page {
   width: 300px;
   display:flex;
   justify-content: flex-start;
   align-items: flex-start;
   margin-top: 10px;
   margin-right: 30px;
   border: solid black;
}